@charset "utf-8";
@import "nord.scss";

$background: $nord0;
$text: $nord4;
$border: $nord0;
$body-background-color: $nord0;
$link: $nord4;

$navbar-item-color: $nord4;
$navbar-item-hover-color: $nord11;
$navbar-item-hover-background-color: $nord1;
$navbar-dropdown-background-color: $nord1;
$navbar-dropdown-item-hover-color: $nord11;
$navbar-dropdown-item-hover-background-color: $nord2;

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
